.contactsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading {
  margin: 0;
  font-size: 3rem;
  margin-bottom: 20px;
}
.secondaryHeading {
  margin: 20px 0;
  font-size: 2.2rem;
  text-align: center;
}
