.listItem {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}
.button {
  height: 1.5rem;
  position: relative;
  /* top: 2px; */
  width: 3rem;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 0.25rem;
  background-color: transparent;
}
.button:hover {
  background-color: lightgrey;
}
.buttonContainer {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  position: relative;
  top: -1px;
}
