.heading {
  margin: 0;
  font-size: 3rem;
  margin-bottom: 20px;
}
.secondaryHeading {
  margin: 20px 0;
  font-size: 2.2rem;
  text-align: center;
}
.loaderContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
